h1{
    color: blueviolet;
}
p,li{
    color: aquamarine;
}
li{
    list-style-type: square;
}
li.sp{
    color: brown;
    font-weight: bold;
}
li em{
    color: burlywood;
}
h1+p{
    color: black;
}