p {
    color: brown;
}

html {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: blanchedalmond;
}
h1{
    font-size: 60px;
    text-align: center;
}
p,li{
    font-size: 30px;
    line-height: 2;
    letter-spacing: 5px;
}
body{
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid yellowgreen;
}
h1{
    margin: 0;
    padding: 20px 0;
    color: blanchedalmond;
    text-shadow: 3px 3px 3px black;
}
img{
    display: block;
    margin: 0 auto;
}
.right{
    font-size: 15px;
}
